* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
}

h1 {
  color: #FFFFFF;
  font-size: 6.2rem;
  font-weight: 900;
}

.section__title {
  color: #4C76FF;
  font-size: 2.8rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}

.section__text {
  font-size: 1.9rem;
  color: #062033;
  text-align: center;
  font-weight: 100;
}

.section__separator {
  display: inline-block;
  position: relative;
  margin-bottom: 85px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.section__separator:before {
  content: "";
  display: block;
  background-color: #4C76FF;
  width: 91px;
  height: 2px;
  background: #C5C5C5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px;
}

.section__separator:after {
  content: "";
  display: block;
  background-color: #4C76FF;
  width: 91px;
  height: 2px;
  background: #C5C5C5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
}

.fa-heart {
  color: #C5C5C5;
  font-size: 2.8rem;
}

.intro {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #4D76FF;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 60px;
}

.intro__title {
  font-weight: 900;
  padding-bottom: 30px;
}

.highlight {
  color: #4B63B7;
  font-size: 4.8rem;
}

.intro__subtitle__one {
  color: rgba(255, 255, 255, 0.9);
  font-size: 4.8rem;
  font-weight: 100;
  padding-bottom: 35px;
}

.intro__subtitle__two {
  font-size: 1.8rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-bottom: 100px;
}

.intro__subtitle__two:before {
  content: "";
  display: block;
  background-color: #4B63B7;
  width: 25px;
  height: 2px;
  position: absolute;
  left: -30%;
  top: 10px;
}

.intro__subtitle__two:after {
  content: "";
  display: block;
  background-color: #4B63B7;
  width: 25px;
  height: 2px;
  position: absolute;
  right: -30%;
  top: 10px;
}

.header {
  background-color: rgba(16, 22, 54, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__title {
  color: #fff;
  font-weight: 700;
  font-size: 20.8pt;
}

.point {
  color: #4C76FF;
}

.logo__subtitle {
  font-weight: 100;
  font-style: italic;
  font-size: 1.9rem;
  opacity: 0.3;
}

.line {
  color: #2F4556;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 1.6rem;
  font-weight: 100;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 30px;
}

.social {
  display: flex;
}

.social__link {
  color: rgba(255, 255, 255, 0.4);
  margin-left: 25px;
  transition: color 0.2s linear;
  font-size: 1.6rem;
}

.social__link:first-child {
  margin-left: 0;
}

.social__link:hover {
  color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: auto;
}

.features_groupe-one {
  background-color: #EFEFEF;
  padding-top: 80px;
  padding-bottom: 115px;
}

.features_groupe-two {
  background-color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 115px;
}

.section__text_features {
  font-size: 1.5rem;
  color: #282528;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}

.features__inner {
  padding-top: 30px;
}

.features__item {
  position: relative;
}

.features__title {
  margin-bottom: 25px;
  padding-left: 50px;
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 600;
  color: #062033;
}

.features__description {
  padding-left: 50px;
  font-family: "Open Sans";
  font-size: 1.3rem;
  color: #062033;
  text-align: justify;
}

.features__icon {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #4C76FF;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  padding: 10px;
}

.layout-3-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-columns > * {
  flex-basis: 32%;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 21%;
}

/*# sourceMappingURL=style.css.map */
