* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  color: $color-text-light;
  font-family: "Lato", sans-serif;
}


h1 {
  color: $color-text-light;
  font-size: 6.2rem;
  font-weight: 900;
}

h2 {}


.section__title {
  color: $color-primary;
  font-size: 2.8rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}

.section__separator {
  display: inline-block;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.section__separator:before {
  content: '';
  display: block;
  background-color: $color-primary;
  width: 91px;
  height: 2px;
  background: #C5C5C5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px;
}

.section__separator:after {
  content: '';
  display: block;
  background-color: $color-primary;
  width: 91px;
  height: 2px;
  background: #C5C5C5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
}

.fa-heart {
  color: #C5C5C5;
  font-size: 2.8rem;
}